.idea {
  display: flex;

  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
  padding: 32px;

  margin-bottom: 32px;
}

.idea img {
  width: 60px;
  height: 60px;
  margin-right: 32px;
}

.idea h3 {
  margin: 0;
}

.idea p {
  margin: 8px 0;
  color: #777;
}

.idea .description {
  margin: 16px 0;
}

.idea .button {
  margin-top: 8px;
}
